<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProgettoVideoCorsi</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:postgresql://dpg-d08cdi15pdvs739m3fi0-a.frankfurt-postgres.render.com:5432/videocorsi</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>videocorsi_user</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>oX2qyf4O6sgkGQcN0icwSBiMSWsOnEbq</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param> 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>