<context-param>
    <param-name>dbDriver</param-name>
    <param-value>org.postgresql.Driver</param-value>
</context-param>
<context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:postgresql://dpg-d08cdi15pdvs739m3fi0-a.frankfurt-postgres.render.com:5432/videocorsi</param-value>
</context-param>
<context-param>
    <param-name>dbUser</param-name>
    <param-value>videocorsi_user</param-value>
</context-param>
<context-param>
    <param-name>dbPassword</param-name>
    <param-value>oX2qyf4O6sgkGQcN0icwSBiMSWsOnEbq</param-value>
</context-param> 